html {
    box-sizing: border-box;
    max-width: 70ch;
    margin: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightgreen;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

img {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: auto;
}

.button {
    transition: all 0.3s ease;
}
.button:hover {
    transform: scale(1.05);
    background-color: #2FB38D;
}

@view-transition {
    navigation: auto;
}