pre:has(code) {
    font-family : monospace;
    white-space: pre;
    text-align: left;
    overflow-x: auto;

    max-width: 70ch;
    background-color: #1d1e22;
    color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}